.modal{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 666;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    &__content{
        padding: 20px;
        border-radius: 12px;
        background-color: #181818;
        max-width: 80vw; 
        width: auto;
        max-height: 80vh; 
        height: auto;
        overflow-y: auto;
    }

    &.active{
        opacity: 1;
        pointer-events: all;
    }
}