// ========== [ variables open ] ==========
@import '../../style/variables.scss';
// ========== [ variables close ] ==========

.navbar{
    &__wrap{
        position: absolute;
        top: 20px;
        left: 0; 
        right: 0;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        background: none;
    }

    &__container{
        padding: 0 20px;
    }
}

.menu{
    &__profile{
        display: flex;
        column-gap: 20px;
    }

    &__logo{
        max-width: 137px;

        @media (max-width: $breakpoint992) {
            max-width: 100px;
        }

        @media (max-width: 398px) {
            max-width: 80px;
        }
    }

    &__item-link{
        &.btn{
            font-size: 16px;
            padding: 7px 15px;
            background: #E50914;
            color: #fff;
            border-radius: 5px;
            transition: 0.3s;

            &:hover{
                background: #9e060e;
            }

            @media (max-width: $breakpoint992) {
                font-size: 14px;
                padding: 7px 10px;
            }

            @media (max-width: 398px) {
                font-size: 12px;
                padding: 7px;
            }
        }
    }
}