$containerWidth: 1200px;
$containerWidthShow: 1490px;
$containerPadding: 40px;
$containerSidePadding: 20px;
$breakpoint1450: 1449.98px;
$breakpoing1200: 1199.98px;
$breakpoint992: 991.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;

// @media (max-width: $breakpoint1450) {}

// @media (max-width: $breakpoing1200) {}

// @media (max-width: $breakpoint992) {}

// @media (max-width: $breakpoint768) {}

// @media (max-width: $breakpoint480) {}